.test-trends-container {
  display: flex;
  background: white;
  border-radius: 0.5rem;
 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.test-trends-container .test-trends-title {
  color: #5F249F;
  font: normal normal 600 24px/33px Open Sans, sans-serif;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

.chart-container {
  width: 100%;
  height: 16rem;
  position: relative;  /* Added for legend positioning */
}

/* Recharts customization */
.recharts-cartesian-grid-horizontal line {
  stroke: #E5E7EB;
}

.recharts-xAxis .recharts-tick text {
  fill: #6B7280;
  font-size: 12px;
}

.recharts-legend-wrapper {
  right: 0 !important;
  bottom: -30px !important;
  left: auto !important;
  text-align: right !important;
}

.recharts-legend-item {
  padding: 0 !important;
  margin-left: 20px !important;  /* Space between legend items */
}

.recharts-legend-item-text {
  color: #6B7280 !important;
  font: normal normal normal 12px/17px 'Open Sans', sans-serif !important;
  margin-left: 8px !important;
}

.recharts-legend-icon {
  width: 24px !important;  /* Wider legend icons */
  height: 4px !important;  /* Thinner height for bar appearance */
  border-radius: 2px !important;  /* Slight rounding on the ends */
}

/* Bar colors */
.recharts-bar path[name="oral"] {
  fill: #3B82F6 !important;
}

.recharts-bar path[name="voice"] {
  fill: #10B981 !important;
}